<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>Superfluous Speculations - SoP2: Interpreted Function Symbols</title>
        <link rel="stylesheet" type="text/css" href="../css/default.css" />
    </head>
    <body>
        <div id="header">
            <div id="logo">
                <a href="../">Superfluous Speculations</a>
            </div>
            <div id="navigation">
                <a href="../">Home</a>
                <a href="../about.html">About</a>
                <a href="../contact.html">Contact</a>
                <a href="../archive.html">Archive</a>
            </div>
        </div>

        <div id="content">
            <h1>SoP2: Interpreted Function Symbols</h1>

            <div class="info">
    Posted on April  2, 2016
    
</div>

<div class="info">
    
       Tags: <a href="../tags/SoP.html">SoP</a>
    
</div>

<p>This post discusses how to add arbitrary function symbols to the grammar introduced in the <a href="http://alhassy.bitbucket.org/posts/SoP1.html#examples">previous SoP article</a>; thereby making the presentation of SoP1 more uniform!</p>
<p>The code for this article is available <a href="https://bitbucket.org/alhassy/blog/src/a0c404801efe189d9e06066985d3e7d9e6131b34/literate/SoP2.lagda?at=master&amp;fileviewer=file-view-default">here.</a></p>
<div class="sourceCode"><pre class="sourceCode agda"><code class="sourceCode agda"><span class="kw">module</span> SoP2 <span class="kw">where</span>

<span class="kw">open</span> <span class="kw">import</span> Data<span class="ot">.</span>Vec <span class="kw">renaming</span> <span class="ot">(</span>map <span class="kw">to</span> vmap<span class="ot">)</span>
<span class="kw">open</span> <span class="kw">import</span> Data<span class="ot">.</span>Bool <span class="kw">hiding</span> <span class="ot">(_</span>∧<span class="ot">_</span> <span class="ot">;</span> <span class="ot">_</span>∨<span class="ot">_)</span> <span class="kw">renaming</span> <span class="ot">(</span>Bool <span class="kw">to</span> 𝔹<span class="ot">)</span>
<span class="kw">open</span> <span class="kw">import</span> MyPrelude <span class="kw">hiding</span>  <span class="ot">(_</span>⨾<span class="ot">_</span> <span class="ot">;</span> swap <span class="ot">;</span> [<span class="ot">_</span>]<span class="ot">)</span> <span class="kw">renaming</span> <span class="ot">(</span>¬<span class="ot">_</span> <span class="kw">to</span> NOT <span class="ot">;</span> <span class="ot">_</span>&gt;<span class="ot">_</span> <span class="kw">to</span> <span class="ot">_</span>ℕ&gt;<span class="ot">_)</span> 
<span class="kw">open</span> <span class="kw">import</span> SoP1 <span class="kw">public</span> <span class="kw">using</span> <span class="ot">(</span>Type <span class="ot">;</span> 𝒩 <span class="ot">;</span> 𝒫 <span class="ot">;</span> ⟦<span class="ot">_</span>⟧ₜ <span class="ot">;</span> <span class="ot">_</span>≟ₜ<span class="ot">_</span> <span class="ot">;</span>
                        Variable <span class="ot">;</span> x <span class="ot">;</span> y <span class="ot">;</span> z <span class="ot">;</span> <span class="ot">_</span>≟ᵥ<span class="ot">_;</span> State<span class="ot">)</span></code></pre></div>
<p>We build on the types and variables of the previous session, but alter the expressions. (The program language grammar is also unchanged, but refers to the new expressions instead!)</p>
<h1 id="function-symbol-datatype">Function Symbol Datatype</h1>
<p>We’d like to add arbitrary function symbols to our grammar. A first attempt would be,</p>
<div class="sourceCode"><pre class="sourceCode agda"><code class="sourceCode agda"><span class="kw">record</span> FunctionSymbol <span class="ot">:</span> <span class="dt">Set</span> <span class="kw">where</span>
  <span class="kw">field</span>
    arity <span class="ot">:</span> ℕ
    src tgt <span class="ot">:</span> Type</code></pre></div>
<p>To capture the number of arguments, their source type, and the resulting target type.</p>
<p>To define the semantics brackets on expressions is now made unclear since we do not know how to interpret an arbitrary function symbol. The easiest thing to do is to place the interpretation alongside the other data.</p>
<div class="sourceCode"><pre class="sourceCode agda"><code class="sourceCode agda"><span class="kw">record</span> InterpretedFunctionSymbol <span class="ot">:</span> <span class="dt">Set₁</span> <span class="kw">where</span>
  <span class="kw">field</span>
    arity <span class="ot">:</span> ℕ
    src tgt <span class="ot">:</span> Type
    reify   <span class="ot">:</span> Vec ⟦ src ⟧ₜ arity <span class="ot">→</span> ⟦ tgt ⟧ₜ

<span class="kw">open</span> InterpretedFunctionSymbol <span class="ot">{{...}}</span></code></pre></div>
<p>Now we extend the expressions datatype by a new function symbol application constructor:</p>
<div class="sourceCode"><pre class="sourceCode agda"><code class="sourceCode agda"><span class="kw">data</span> Expr <span class="ot">:</span> Type <span class="ot">→</span> <span class="dt">Set₁</span> <span class="kw">where</span>
   ⋮
  app <span class="ot">:</span> <span class="ot">(</span>fsym <span class="ot">:</span> InterpretedFunctionSymbol<span class="ot">)</span> <span class="ot">→</span> Vec <span class="ot">(</span>Expr src<span class="ot">)</span> arity <span class="ot">→</span> Expr tgt</code></pre></div>
<p>Then the semantics definition would be extended by the clause,</p>
<div class="sourceCode"><pre class="sourceCode agda"><code class="sourceCode agda">⟦ app fsym args ⟧ₑ σ  <span class="ot">=</span> reify <span class="ot">(</span>map <span class="ot">(λ</span> e <span class="ot">→</span> ⟦ e ⟧ₑ σ<span class="ot">)</span> args<span class="ot">)</span></code></pre></div>
<p>However this is a no-go since the semantics brackets are being recursively called on a not-so-trivially structurally smaller item and so not immediately clear that result will terminate. Hence Agda refuses the definition. One extreme, and unsafe, approach is just to <a href="http://wiki.portal.chalmers.se/agda/pmwiki.php?n=ReferenceManual.Pragmas">disable termination checking</a>. A more common approach is to case over the expressions/lists involved and do the <code>map</code> explicitly. A middle path would be to <a href="http://blog.ezyang.com/2010/06/well-founded-recursion-in-agda/">use well-founded recursion for writing non-structurally recursive programs in Agda.</a> The first option is too scary and the last a bit technical for what we want, so we’ll take the simplest, thought not general, route.</p>
<p>So if we now try to case over <code>args</code>, we get a unification error. The system is not sure what to do. An immediate solution is to bring <code>arity</code>, the length of <code>args</code>, to the top as a parameter and then case over that. So we redefine,</p>
<div class="sourceCode"><pre class="sourceCode agda"><code class="sourceCode agda"><span class="kw">record</span> InterpretedFunctionSymbol <span class="ot">(</span>arity <span class="ot">:</span> ℕ<span class="ot">)</span> <span class="ot">:</span> <span class="dt">Set₁</span> <span class="kw">where</span>
  <span class="kw">field</span>
    src tgt <span class="ot">:</span> Type
    reify   <span class="ot">:</span> Vec ⟦ src ⟧ₜ arity <span class="ot">→</span> ⟦ tgt ⟧ₜ</code></pre></div>
<p>Okay great, we’ll case over <code>args</code>. Now how do we make a recursive call?! Our <code>reify</code> is not defined inductively and so we cannot break it down into pieces as we would for vectors. Let’s redefine yet again,</p>
<div class="sourceCode"><pre class="sourceCode agda"><code class="sourceCode agda"><span class="co">-- Func a s t ≡ s → s → ⋯ → s → t , with a-many s arguments</span>
Func <span class="ot">:</span> <span class="ot">∀</span> <span class="ot">{</span>ℓ<span class="ot">}</span> <span class="ot">(</span>a <span class="ot">:</span> ℕ<span class="ot">)</span> <span class="ot">(</span>s t <span class="ot">:</span> <span class="dt">Set</span> ℓ<span class="ot">)</span> <span class="ot">→</span> <span class="dt">Set</span> ℓ
Func zero s t <span class="ot">=</span> t
Func <span class="ot">(</span>suc a<span class="ot">)</span> s t <span class="ot">=</span> s <span class="ot">→</span> Func a s t

<span class="kw">record</span> InterpretedFunctionSymbol <span class="ot">(</span>arity <span class="ot">:</span> ℕ<span class="ot">)</span> <span class="ot">:</span> <span class="dt">Set₁</span> <span class="kw">where</span>
  <span class="kw">field</span>
    src tgt <span class="ot">:</span> Type
    reify   <span class="ot">:</span> Func arity ⟦ src ⟧ₜ ⟦ tgt ⟧ₜ

<span class="kw">open</span> InterpretedFunctionSymbol <span class="ot">{{...}}</span></code></pre></div>
<p>Now: an expression is a variable, a constant symbol, or a function symbol applied to other terms.</p>
<div class="sourceCode"><pre class="sourceCode agda"><code class="sourceCode agda"><span class="kw">data</span> Expr <span class="ot">:</span> Type <span class="ot">→</span> <span class="dt">Set₁</span> <span class="kw">where</span>
  Var <span class="ot">:</span> <span class="ot">∀</span> <span class="ot">{</span>t<span class="ot">}</span> <span class="ot">(</span>v <span class="ot">:</span> Variable t<span class="ot">)</span> <span class="ot">→</span> Expr t
  𝒩  <span class="ot">:</span> ℕ <span class="ot">→</span> Expr 𝒩  
  𝒫  <span class="ot">:</span> <span class="dt">Set</span> <span class="ot">→</span> Expr 𝒫
  app <span class="ot">:</span> <span class="ot">{</span>arity <span class="ot">:</span> ℕ<span class="ot">}</span> <span class="ot">(</span>fsym <span class="ot">:</span> InterpretedFunctionSymbol arity<span class="ot">)</span> <span class="ot">→</span> Vec <span class="ot">(</span>Expr src<span class="ot">)</span> arity <span class="ot">→</span> Expr tgt</code></pre></div>
<p>Notice that the formal code is quiet faithful to the informal definition preceding it!</p>
<p>Observe that we could not have written</p>
<div class="sourceCode"><pre class="sourceCode agda"><code class="sourceCode agda">  app <span class="ot">:</span> <span class="ot">(</span>arity <span class="ot">:</span> ℕ<span class="ot">)</span> <span class="ot">(</span>fsym <span class="ot">:</span> InterpretedFunctionSymbol arity<span class="ot">)</span> <span class="ot">→</span> Func arity <span class="ot">(</span>Expr src<span class="ot">)</span> <span class="ot">(</span>Expr tgt<span class="ot">)</span></code></pre></div>
<p>since datatype constructors must return the datatype being constructed and it’s not immediately clear that this is the case with <code>Func</code>, so the system rejects it.</p>
<p>Now: the interpretation of a variable is to look it up in the state, that of constants is to leave them alone, and that of a function application is to reify the function and apply it to the interpretation of its arguments.</p>
<div class="sourceCode"><pre class="sourceCode agda"><code class="sourceCode agda"><span class="kw">infix</span> <span class="dv">5</span> ⟦<span class="ot">_</span>⟧ₑ
⟦<span class="ot">_</span>⟧ₑ <span class="ot">:</span> <span class="ot">∀</span> <span class="ot">{</span>t<span class="ot">}</span> <span class="ot">→</span> Expr t <span class="ot">→</span> State <span class="ot">→</span> ⟦ t ⟧ₜ
⟦<span class="ot">_</span>⟧ₑ <span class="ot">(</span>Var v<span class="ot">)</span> σ <span class="ot">=</span> σ v
⟦<span class="ot">_</span>⟧ₑ <span class="ot">(</span>𝒩 q<span class="ot">)</span> σ <span class="ot">=</span> lift q
⟦<span class="ot">_</span>⟧ₑ <span class="ot">(</span>𝒫 p<span class="ot">)</span> σ <span class="ot">=</span> p
<span class="co">-- loosely: ⟦ f t₁ ⋯ tₙ ⟧ σ = (reify ⟦ t₁ ⟧ σ) ⟦ ftail t₂ ⋯ tₙ ⟧ σ</span>
⟦<span class="ot">_</span>⟧ₑ <span class="ot">(</span>app <span class="ot">{</span>zero<span class="ot">}</span> fsym []<span class="ot">)</span> σ <span class="ot">=</span> reify
⟦<span class="ot">_</span>⟧ₑ <span class="ot">(</span>app <span class="ot">{</span>suc n<span class="ot">}</span> fsym <span class="ot">(</span>e ∷ args<span class="ot">))</span> σ <span class="ot">=</span>
  <span class="kw">let</span>
    fsym-tail <span class="ot">=</span> <span class="kw">record</span> <span class="ot">{</span> src <span class="ot">=</span> src <span class="ot">;</span> tgt <span class="ot">=</span> tgt <span class="ot">;</span> reify <span class="ot">=</span> reify <span class="ot">(</span>⟦ e ⟧ₑ σ<span class="ot">)</span> <span class="ot">}</span>
  <span class="kw">in</span>
    ⟦ app <span class="ot">{</span>n<span class="ot">}</span> fsym-tail args ⟧ₑ σ</code></pre></div>
<p>Notice that the formal code is quiet faithful to the informal definition preceding it!</p>
<p>One more time! The substitution over a variable occurs if the variables match, substitution over constants does nothing, and substitution over function symbol application is to just substitute over the argument terms.</p>
<div class="sourceCode"><pre class="sourceCode agda"><code class="sourceCode agda"><span class="ot">_</span>[<span class="ot">_</span>/<span class="ot">_</span>] <span class="ot">:</span> <span class="ot">∀</span> <span class="ot">{</span>s t<span class="ot">}</span> <span class="ot">(</span>E <span class="ot">:</span> Expr t<span class="ot">)</span> <span class="ot">(</span>e <span class="ot">:</span> Expr s<span class="ot">)</span> <span class="ot">(</span>v <span class="ot">:</span> Variable s<span class="ot">)</span> <span class="ot">→</span> Expr t
<span class="ot">_</span>[<span class="ot">_</span>/<span class="ot">_</span>] <span class="ot">{</span>s<span class="ot">}</span> <span class="ot">{</span>t<span class="ot">}</span> <span class="ot">(</span>Var v<span class="ot">)</span> v₁ e' <span class="kw">with</span> s ≟ₜ t
Var v [ e / v₁ ] ∣ yes ≡-refl <span class="ot">=</span> if v ≟ᵥ v₁ then e' else Var v
Var v [ e / v₁ ] ∣ no ¬p <span class="ot">=</span> Var v
𝒩 c  [ e / v  ] <span class="ot">=</span> 𝒩 c
𝒫 c  [ e / v  ] <span class="ot">=</span> 𝒫 c
app fsym args [ v / e ] <span class="ot">=</span> app fsym <span class="ot">(</span>helper args<span class="ot">)</span>
  <span class="kw">where</span> helper <span class="ot">:</span> <span class="ot">∀</span> <span class="ot">{</span>n<span class="ot">}</span> <span class="ot">→</span> Vec <span class="ot">(</span>Expr src<span class="ot">)</span> n <span class="ot">→</span> Vec <span class="ot">(</span>Expr src<span class="ot">)</span> n
        helper <span class="ot">{</span>zero <span class="ot">}</span> [] <span class="ot">=</span> []
        helper <span class="ot">{</span>suc n<span class="ot">}</span> <span class="ot">(</span>E ∷ ls<span class="ot">)</span> <span class="ot">=</span> E [ e / v ] ∷ helper ls</code></pre></div>
<p>Notice that the formal code is quiet faithful to the informal definition preceding it!</p>
<p>Exercise! Write the definition of</p>
<div class="sourceCode"><pre class="sourceCode agda"><code class="sourceCode agda"><span class="ot">_</span>[<span class="ot">_</span>,<span class="ot">_</span>/₂<span class="ot">_</span>,<span class="ot">_</span>] <span class="ot">:</span> <span class="ot">∀</span> <span class="ot">{</span>s₁ s₂ t<span class="ot">}</span> <span class="ot">→</span> Expr t <span class="ot">→</span> Variable s₁ <span class="ot">→</span> Variable s₂ <span class="ot">→</span> Expr s₁ <span class="ot">→</span> Expr s₂ <span class="ot">→</span> Expr t</code></pre></div>
<h1 id="regaining-our-previous-symbols">Regaining Our Previous Symbols</h1>
<p>The old <code>Expr</code> syntax had built-in addition, conjunction, equality, etc.; and we intend to regain them with the power of interpreted function symbols.</p>
<p>We only show a few and leave the rest as exercises.</p>
<div class="sourceCode"><pre class="sourceCode agda"><code class="sourceCode agda"><span class="kw">infix</span> <span class="dv">10</span> <span class="ot">_</span>≈<span class="ot">_</span>
<span class="ot">_</span>≈<span class="ot">_</span> <span class="ot">:</span> <span class="ot">(</span>m n <span class="ot">:</span> Expr 𝒩<span class="ot">)</span> <span class="ot">→</span> Expr 𝒫
m ≈ n <span class="ot">=</span> app symb <span class="ot">(</span>m ∷ n ∷ []<span class="ot">)</span>
  <span class="kw">where</span>
    sem <span class="ot">:</span> ⟦ 𝒩 ⟧ₜ <span class="ot">→</span> ⟦ 𝒩 ⟧ₜ <span class="ot">→</span> ⟦ 𝒫 ⟧ₜ
    sem <span class="ot">(</span>lift m<span class="ot">)</span> <span class="ot">(</span>lift n<span class="ot">)</span> <span class="ot">=</span> m ≡ n

    symb <span class="ot">:</span> InterpretedFunctionSymbol <span class="dv">2</span>
    symb <span class="ot">=</span> <span class="kw">record</span> <span class="ot">{</span> src <span class="ot">=</span> 𝒩 <span class="ot">;</span> tgt <span class="ot">=</span> 𝒫 <span class="ot">;</span> reify <span class="ot">=</span> sem <span class="ot">}</span>

<span class="co">-- a new symbol ;)</span>
<span class="kw">infixr</span> <span class="dv">11</span> <span class="ot">_</span>-<span class="ot">_</span>
<span class="ot">_</span>-<span class="ot">_</span> <span class="ot">:</span> <span class="ot">(</span>m n <span class="ot">:</span> Expr 𝒩<span class="ot">)</span> <span class="ot">→</span> Expr 𝒩
m - n <span class="ot">=</span> app symb <span class="ot">(</span>m ∷ n ∷ []<span class="ot">)</span>
  <span class="kw">where</span>
    sem <span class="ot">:</span> ⟦ 𝒩 ⟧ₜ <span class="ot">→</span> ⟦ 𝒩 ⟧ₜ <span class="ot">→</span> ⟦ 𝒩 ⟧ₜ
    sem <span class="ot">(</span>lift m<span class="ot">)</span> <span class="ot">(</span>lift n<span class="ot">)</span> <span class="ot">=</span> lift <span class="ot">(</span>m ∸ n<span class="ot">)</span>

    symb <span class="ot">:</span> InterpretedFunctionSymbol <span class="dv">2</span>
    symb <span class="ot">=</span> <span class="kw">record</span> <span class="ot">{</span> src <span class="ot">=</span> 𝒩 <span class="ot">;</span> tgt <span class="ot">=</span> 𝒩 <span class="ot">;</span> reify <span class="ot">=</span> sem <span class="ot">}</span></code></pre></div>
<p>Even more so, we can form simple notions of quantification. For example, simple summation:</p>
<div class="sourceCode"><pre class="sourceCode agda"><code class="sourceCode agda"><span class="co">-- sum over 'body' with index 'dummy' ranging over all natural numbers that are at most 'bound'</span>
<span class="kw">infix</span> <span class="dv">10</span> Σ<span class="ot">_</span>≤<span class="ot">_</span>•<span class="ot">_</span>
Σ<span class="ot">_</span>≤<span class="ot">_</span>•<span class="ot">_</span> <span class="ot">:</span> Variable 𝒩 <span class="ot">→</span> ℕ <span class="ot">→</span> Expr 𝒩 <span class="ot">→</span> Expr 𝒩
Σ<span class="ot">_</span>≤<span class="ot">_</span>•<span class="ot">_</span> dummy bound body <span class="ot">=</span>
         app symb <span class="ot">(</span>vmap <span class="ot">(λ</span> i <span class="ot">→</span> body [ 𝒩 i / dummy ]<span class="ot">)</span> <span class="ot">(</span>downFrom bound<span class="ot">))</span>
  <span class="kw">where</span>

    <span class="co">-- downFrom n ≡ [n , n-1, n-2, …, 1, 0]</span>
    downFrom <span class="ot">:</span> <span class="ot">(</span>n <span class="ot">:</span> ℕ<span class="ot">)</span> <span class="ot">→</span> Vec ℕ <span class="ot">(</span>suc n<span class="ot">)</span>
    downFrom zero <span class="ot">=</span> zero ∷ []
    downFrom <span class="ot">(</span>suc n<span class="ot">)</span> <span class="ot">=</span> suc n ∷ downFrom n

    <span class="co">-- ⟨ i , n ⟩ takes n-many arguments and adds them up then adds i on top of that</span>
    ⟨<span class="ot">_</span>,<span class="ot">_</span>⟩ <span class="ot">:</span> Lift ℕ <span class="ot">→</span> <span class="ot">(</span>n <span class="ot">:</span> ℕ<span class="ot">)</span> <span class="ot">→</span> Func n ⟦ 𝒩 ⟧ₜ ⟦ 𝒩 ⟧ₜ
    ⟨ i , zero  ⟩   <span class="ot">=</span> i
    ⟨ lift i , suc n ⟩ <span class="ot">(</span>lift j<span class="ot">)</span> <span class="ot">=</span> ⟨ lift <span class="ot">(</span>i +ℕ j<span class="ot">)</span> , n ⟩

    example <span class="ot">:</span> ⟨ lift <span class="dv">0</span> , <span class="dv">4</span> ⟩ <span class="ot">(</span>lift <span class="dv">100</span><span class="ot">)</span> <span class="ot">(</span>lift <span class="dv">22</span><span class="ot">)</span> <span class="ot">(</span>lift <span class="dv">31</span><span class="ot">)</span> <span class="ot">(</span>lift <span class="dv">7</span><span class="ot">)</span> ≡ lift <span class="ot">(</span><span class="dv">100</span> +ℕ <span class="dv">22</span> +ℕ <span class="dv">31</span> +ℕ <span class="dv">7</span><span class="ot">)</span>
    example <span class="ot">=</span> ≡-refl

    symb <span class="ot">:</span> InterpretedFunctionSymbol <span class="ot">(</span>suc bound<span class="ot">)</span>
    symb <span class="ot">=</span> <span class="kw">record</span> <span class="ot">{</span> src <span class="ot">=</span> 𝒩 <span class="ot">;</span> tgt <span class="ot">=</span> 𝒩 <span class="ot">;</span> reify <span class="ot">=</span> ⟨ lift <span class="dv">0</span> , suc bound ⟩ <span class="ot">}</span>    </code></pre></div>
<p>Observe that the syntax ‘<code>Σ dummy ≤ bound • body</code>’ is interpreted as the sum of the <code>body</code> with <code>dummy</code> ranging over the integers <code>0..bound</code>.</p>
<p>Let’s try this out! First, let’s use the notion of a default or initial state:</p>
<div class="sourceCode"><pre class="sourceCode agda"><code class="sourceCode agda"><span class="co">-- default state: numbers are 0 and booleans are false.</span>
σ₀ <span class="ot">:</span> State
σ₀ <span class="ot">{</span>𝒩<span class="ot">}</span> v <span class="ot">=</span> lift <span class="dv">0</span>
σ₀ <span class="ot">{</span>𝒫<span class="ot">}</span> v <span class="ot">=</span> ⊥</code></pre></div>
<p>Then, say, the sum of the successor of naturals below 3 is 10:</p>
<div class="sourceCode"><pre class="sourceCode agda"><code class="sourceCode agda"><span class="co">-- ie 10 ≡ 10</span>
sum-test <span class="ot">:</span>   ⟦ Σ x ≤ <span class="dv">3</span> • Var x + 𝒩 <span class="dv">1</span> ⟧ₑ σ₀
           ≡ ⟦ <span class="ot">(</span>𝒩 <span class="dv">0</span> + 𝒩 <span class="dv">1</span><span class="ot">)</span> + <span class="ot">(</span>𝒩 <span class="dv">1</span> + 𝒩 <span class="dv">1</span><span class="ot">)</span> + <span class="ot">(</span>𝒩 <span class="dv">2</span> + 𝒩 <span class="dv">1</span><span class="ot">)</span> + <span class="ot">(</span>𝒩 <span class="dv">3</span> + 𝒩 <span class="dv">1</span><span class="ot">)</span>  ⟧ₑ σ₀
sum-test <span class="ot">=</span> ≡-refl</code></pre></div>
<p>Notice that <code>Σ x ≤ 3 • Var x + 𝒩 2</code> is really <code>Σ x ≤ 3 • (Var x + 𝒩 2)</code> and not <code>(Σ x ≤ 3 • Var x) + 𝒩 2</code>; which is consistent with the convention that quantifiers have scope as large/rightwards as possible. We’ve achieved this by the fixity declarations: summation is 10, which is higher priority than the 11 of addition.</p>
<p>Let’s consider a more complicated example; say a summation that involves variables.</p>
<div class="sourceCode"><pre class="sourceCode agda"><code class="sourceCode agda">σ₁ <span class="ot">:</span> State
σ₁ <span class="ot">{</span>𝒩<span class="ot">}</span> x <span class="ot">=</span> lift <span class="dv">1</span>
σ₁ <span class="ot">{</span>𝒩<span class="ot">}</span> y <span class="ot">=</span> lift <span class="dv">2</span>
σ₁ <span class="ot">{</span>𝒩<span class="ot">}</span> z <span class="ot">=</span> lift <span class="dv">3</span>
σ₁ <span class="ot">{</span>𝒫<span class="ot">}</span> v <span class="ot">=</span> ⊥

sum-test2 <span class="ot">:</span>  ⟦ Σ x ≤ <span class="dv">3</span> • <span class="ot">(</span>Var x + Var y<span class="ot">)</span> - Var z ⟧ₑ σ₁
           ≡ ⟦ <span class="ot">(</span>𝒩 <span class="dv">2</span> - 𝒩 <span class="dv">3</span><span class="ot">)</span> + <span class="ot">(</span>𝒩 <span class="dv">3</span> - 𝒩 <span class="dv">3</span><span class="ot">)</span> + <span class="ot">(</span>𝒩 <span class="dv">4</span> - 𝒩 <span class="dv">3</span><span class="ot">)</span> + <span class="ot">(</span>𝒩 <span class="dv">5</span> - 𝒩 <span class="dv">3</span><span class="ot">)</span>  ⟧ₑ σ₁
sum-test2 <span class="ot">=</span> ≡-refl</code></pre></div>
<p>Notice that <code>x</code> in the sum is not treated as a global variable and so state <code>σ₁</code> is not called-upon for it.</p>
<p>Before we move on, let us remark that placing a bound of the form <code>x ∶ m … n</code> is tricky and I’ve failed to realize it since the interpretation portion of the symbol means I need a vector of length <code>suc (n ∸ m)</code> which is difficult to write. I’ve tried mimicking the Haskell definition and anyhow it’s not of immediate import. Still, it was hard and I just decided to use the case <code>m ≡ 0</code> only.</p>
<p>This can be remedied by adding quantifiers explicitly to the expression syntax, thereby taking in a state for the interpretation. In particular,</p>
<div class="sourceCode"><pre class="sourceCode agda"><code class="sourceCode agda">⟦ SUM dummy bound range body ⟧ σ <span class="ot">=</span>
  reify <span class="ot">(</span>vmap <span class="ot">(λ</span> i <span class="ot">→</span> if ⟦ range [ dummy / 𝒩 i ] ⟧ σ then body [ dummy / 𝒩 i ] else 𝒩 <span class="dv">0</span><span class="ot">)</span> <span class="ot">(</span>downFrom bound<span class="ot">))</span></code></pre></div>
<p>Just something to think about.</p>
<h1 id="unreify">Unreify</h1>
<p>While regaining some of our function symbols, one might’ve noticed a general pattern and it is that which we abstract here. That is, we will write a function that takes a real item and turns it into an an interpreted function symbol application.</p>
<div class="sourceCode"><pre class="sourceCode agda"><code class="sourceCode agda"><span class="co">-- two argument case</span>
unreify₂ <span class="ot">:</span> <span class="ot">∀</span> <span class="ot">{</span>s t<span class="ot">}</span> <span class="ot">→</span> <span class="ot">(</span>⟦ s ⟧ₜ <span class="ot">→</span> ⟦ s ⟧ₜ <span class="ot">→</span> ⟦ t ⟧ₜ<span class="ot">)</span> <span class="ot">→</span> <span class="ot">(</span>a b <span class="ot">:</span> Expr s<span class="ot">)</span> <span class="ot">→</span> Expr t
unreify₂ <span class="ot">{</span>s<span class="ot">}</span> <span class="ot">{</span>t<span class="ot">}</span> r a b <span class="ot">=</span> app symb <span class="ot">(</span>a ∷ b ∷ []<span class="ot">)</span>
  <span class="kw">where</span>
    symb <span class="ot">:</span> InterpretedFunctionSymbol <span class="dv">2</span>
    symb <span class="ot">=</span> <span class="kw">record</span> <span class="ot">{</span> src <span class="ot">=</span> s <span class="ot">;</span> tgt <span class="ot">=</span> t <span class="ot">;</span> reify <span class="ot">=</span> r <span class="ot">}</span>

<span class="co">-- one argument case</span>
unreify₁ <span class="ot">:</span> <span class="ot">∀</span> <span class="ot">{</span>s t<span class="ot">}</span> <span class="ot">→</span> <span class="ot">(</span>⟦ s ⟧ₜ <span class="ot">→</span> ⟦ t ⟧ₜ<span class="ot">)</span> <span class="ot">→</span> <span class="ot">(</span>Expr s <span class="ot">→</span> Expr t<span class="ot">)</span>
unreify₁ <span class="ot">{</span>s<span class="ot">}</span> <span class="ot">{</span>t<span class="ot">}</span> r a <span class="ot">=</span> app symb <span class="ot">(</span>a ∷ []<span class="ot">)</span>
  <span class="kw">where</span>
    symb <span class="ot">:</span> InterpretedFunctionSymbol <span class="dv">1</span>
    symb <span class="ot">=</span> <span class="kw">record</span> <span class="ot">{</span> src <span class="ot">=</span> s <span class="ot">;</span> tgt <span class="ot">=</span> t <span class="ot">;</span> reify <span class="ot">=</span> r <span class="ot">}</span>

<span class="co">-- could be less general by making B not depend on A</span>
lift₂ <span class="ot">:</span> <span class="ot">∀</span> <span class="ot">{</span>a b ℓ<span class="ot">}</span> <span class="ot">{</span>A <span class="ot">:</span> <span class="dt">Set</span> a<span class="ot">}</span> <span class="ot">{</span>B <span class="ot">:</span> A <span class="ot">→</span> A <span class="ot">→</span> <span class="dt">Set</span> b<span class="ot">}</span>
      <span class="ot">→</span> <span class="ot">((</span>p q <span class="ot">:</span> A<span class="ot">)</span> <span class="ot">→</span> B p q<span class="ot">)</span> <span class="ot">→</span> <span class="ot">((</span>lp lq <span class="ot">:</span> Lift <span class="ot">{</span>a<span class="ot">}</span> <span class="ot">{</span>ℓ<span class="ot">}</span> A<span class="ot">)</span> <span class="ot">→</span> B <span class="ot">(</span>lower lp<span class="ot">)</span> <span class="ot">(</span>lower lq<span class="ot">))</span>
lift₂ r <span class="ot">(</span>lift p<span class="ot">)</span> <span class="ot">(</span>lift q<span class="ot">)</span> <span class="ot">=</span> r p q

lift₁ <span class="ot">:</span> <span class="ot">∀</span> <span class="ot">{</span>a b ℓ<span class="ot">}</span> <span class="ot">{</span>A <span class="ot">:</span> <span class="dt">Set</span> a<span class="ot">}</span> <span class="ot">{</span>B <span class="ot">:</span> A <span class="ot">→</span> <span class="dt">Set</span> b<span class="ot">}</span>
      <span class="ot">→</span> <span class="ot">((</span>p <span class="ot">:</span> A<span class="ot">)</span> <span class="ot">→</span> B p<span class="ot">)</span> <span class="ot">→</span> <span class="ot">((</span>lp <span class="ot">:</span> Lift <span class="ot">{</span>a<span class="ot">}</span> <span class="ot">{</span>ℓ<span class="ot">}</span> A<span class="ot">)</span> <span class="ot">→</span> B <span class="ot">(</span>lower lp<span class="ot">))</span>
lift₁ r <span class="ot">(</span>lift p<span class="ot">)</span> <span class="ot">=</span> r p

<span class="co">-- sometimes we have an operation of the form ℕ → ℕ → ℕ and we want this to yield a</span>
<span class="co">-- function symbol typed Expr 𝒩 → Expr 𝒩 → Expr 𝒩 and so we introduce yet another combinator</span>
unreify-ℕ₂ <span class="ot">:</span> <span class="ot">(</span>ℕ <span class="ot">→</span> ℕ <span class="ot">→</span> ℕ<span class="ot">)</span> <span class="ot">→</span> Expr 𝒩 <span class="ot">→</span> Expr 𝒩 <span class="ot">→</span> Expr 𝒩
unreify-ℕ₂ r <span class="ot">=</span> unreify₂ <span class="ot">(</span>lift₂ <span class="ot">(λ</span> p q <span class="ot">→</span> lift<span class="ot">(</span>r p q<span class="ot">)))</span></code></pre></div>
<p>Perhaps the name <code>unreify</code> is not the best..something to consider!</p>
<p>For example,</p>
<div class="sourceCode"><pre class="sourceCode agda"><code class="sourceCode agda"><span class="kw">infixr</span> <span class="dv">9</span> ¬<span class="ot">_</span>
¬<span class="ot">_</span> <span class="ot">:</span> <span class="ot">(</span>p <span class="ot">:</span> Expr 𝒫<span class="ot">)</span> <span class="ot">→</span> Expr 𝒫
¬<span class="ot">_</span> <span class="ot">=</span> unreify₁ NOT

<span class="kw">infixr</span> <span class="dv">8</span> <span class="ot">_</span>∨<span class="ot">_</span>
<span class="ot">_</span>∨<span class="ot">_</span> <span class="ot">:</span> <span class="ot">(</span>p q <span class="ot">:</span> Expr 𝒫<span class="ot">)</span> <span class="ot">→</span> Expr 𝒫
<span class="ot">_</span>∨<span class="ot">_</span> <span class="ot">=</span> unreify₂ <span class="ot">_</span>⊎<span class="ot">_</span>

<span class="kw">infix</span> <span class="dv">10</span> <span class="ot">_</span>&gt;<span class="ot">_</span>
<span class="ot">_</span>&gt;<span class="ot">_</span> <span class="ot">:</span> <span class="ot">(</span>m n <span class="ot">:</span> Expr 𝒩<span class="ot">)</span> <span class="ot">→</span> Expr 𝒫
<span class="ot">_</span>&gt;<span class="ot">_</span> <span class="ot">=</span> unreify₂ <span class="ot">(</span>lift₂ <span class="ot">(λ</span> m n <span class="ot">→</span> n &lt;ℕ m<span class="ot">))</span>

<span class="kw">infix</span> <span class="dv">10</span> <span class="ot">_</span>&lt;<span class="ot">_</span>
<span class="ot">_</span>&lt;<span class="ot">_</span> <span class="ot">:</span> <span class="ot">(</span>m n <span class="ot">:</span> Expr 𝒩<span class="ot">)</span> <span class="ot">→</span> Expr 𝒫
m &lt; n <span class="ot">=</span> n &gt; m

<span class="kw">infix</span> <span class="dv">10</span> <span class="ot">_</span>≠<span class="ot">_</span>
<span class="ot">_</span>≠<span class="ot">_</span> <span class="ot">:</span> <span class="ot">(</span>m n <span class="ot">:</span> Expr 𝒩<span class="ot">)</span> <span class="ot">→</span> Expr 𝒫
<span class="ot">_</span>≠<span class="ot">_</span> <span class="ot">=</span> unreify₂ <span class="ot">(</span>lift₂ <span class="ot">(λ</span> a b <span class="ot">→</span> a ≡ b <span class="ot">→</span> ⊥<span class="ot">))</span></code></pre></div>
<p>Excellent! Now the user need only use these combinators and worry not about the underlying presentation of interpreted function symbols.</p>
<p>Let’s wrap-up by looking at an intersting theorem.</p>
<div class="sourceCode"><pre class="sourceCode agda"><code class="sourceCode agda"><span class="co">-- constant expression constructor</span>
𝒞 <span class="ot">:</span> <span class="ot">∀</span> <span class="ot">{</span>t<span class="ot">}</span> <span class="ot">→</span> ⟦ t ⟧ₜ <span class="ot">→</span> Expr t
𝒞 <span class="ot">{</span>𝒩<span class="ot">}</span> e <span class="ot">=</span> 𝒩 <span class="ot">(</span>lower e<span class="ot">)</span>
𝒞 <span class="ot">{</span>𝒫<span class="ot">}</span> e <span class="ot">=</span> 𝒫 e

⟦𝒞⟧ <span class="ot">:</span> <span class="ot">∀</span> <span class="ot">{</span>t<span class="ot">}</span> <span class="ot">{</span>c <span class="ot">:</span> ⟦ t ⟧ₜ<span class="ot">}</span> <span class="ot">{</span>σ <span class="ot">:</span> State<span class="ot">}</span> <span class="ot">→</span> ⟦ 𝒞 c ⟧ₑ σ ≡ c
⟦𝒞⟧ <span class="ot">{</span>𝒩<span class="ot">}</span> <span class="ot">=</span> ≡-refl
⟦𝒞⟧ <span class="ot">{</span>𝒫<span class="ot">}</span> <span class="ot">=</span> ≡-refl

inverses <span class="ot">:</span> <span class="ot">∀</span> <span class="ot">{</span>s t<span class="ot">}</span> <span class="ot">(</span>f <span class="ot">:</span> ⟦ s ⟧ₜ <span class="ot">→</span> ⟦ t ⟧ₜ<span class="ot">)</span> <span class="ot">(</span>σ <span class="ot">:</span> State<span class="ot">)</span>
         <span class="ot">→</span>  <span class="kw">let</span> reify <span class="ot">:</span> <span class="ot">∀</span> <span class="ot">{</span>s' t'<span class="ot">}</span> <span class="ot">(</span>g <span class="ot">:</span> Expr s' <span class="ot">→</span> Expr t'<span class="ot">)</span> <span class="ot">→</span> <span class="ot">(</span>⟦ s' ⟧ₜ <span class="ot">→</span> ⟦ t' ⟧ₜ<span class="ot">)</span> 
                reify g <span class="ot">=</span> <span class="ot">λ</span> a <span class="ot">→</span> ⟦ g <span class="ot">(</span>𝒞 a<span class="ot">)</span> ⟧ₑ σ <span class="kw">in</span>
          reify <span class="ot">(</span>unreify₁ f<span class="ot">)</span> ≗ f   <span class="co">-- pointwise equality</span>
inverses f σ <span class="ot">=</span> <span class="ot">λ</span> a <span class="ot">→</span> ≡-cong f ⟦𝒞⟧</code></pre></div>
<p>Notice that this reify differs from <code>InterpretedFunctionSymbol.reify</code> ! What of <code>unreify₁ (reify f) ≗ f</code> ? exercise.</p>
<h1 id="examples">Examples</h1>
<p>Let’s produce a big example that uses all program constructs, except abort, and also makes use of the new symbols.</p>
<div class="sourceCode"><pre class="sourceCode agda"><code class="sourceCode agda"><span class="co">-- ∧ monotonicity: a nifty way to introduce implications involving ∧</span>
∧-⇒ <span class="ot">:</span> <span class="ot">∀</span> <span class="ot">{</span>P Q P' Q'<span class="ot">}</span> <span class="ot">→</span> P ⇒ P' <span class="ot">→</span> Q ⇒ Q' <span class="ot">→</span> P ∧ Q ⇒ P' ∧ Q' 
∧-⇒ p q σ <span class="ot">(</span>a , b<span class="ot">)</span> <span class="ot">=</span> p σ a , q σ b

<span class="co">-- the refl case is so ubiquitous, let's name it.</span>
<span class="ot">_</span>⨾⟨⟩<span class="ot">_</span> <span class="ot">:</span> <span class="ot">∀</span> <span class="ot">{</span>Q S₁ P S₂ R<span class="ot">}</span> <span class="ot">→</span> ⟦ Q ⟧ S₁ ⟦ P ⟧ <span class="ot">→</span> ⟦ P ⟧ S₂ ⟦ R ⟧ <span class="ot">→</span> ⟦ Q ⟧ S₁ ⨾ S₂ ⟦ R ⟧
S ⨾⟨⟩ T <span class="ot">=</span> S ⨾⟨ <span class="ot">(λ</span> σ z₁ <span class="ot">→</span> z₁<span class="ot">)</span> ⟩ T <span class="co">-- C-c C-a</span>

test <span class="ot">:</span> ⟦ True ⟧
           x ≔ 𝒩 <span class="dv">3</span>
         ⨾ skip
         ⨾ y ≔ 𝒩 <span class="dv">4</span>
         ⨾ x ≔ <span class="ot">(</span>Σ z ≤ <span class="dv">4</span> • Var z + Var z<span class="ot">)</span> <span class="co">-- sum of all even's that're at-most 8 = 0+2+4+6+8 = 20 </span>
         ⨾ x , y ≔₂ Var x + Var y , Var x - Var y
       ⟦ Var x ≈ 𝒩 <span class="dv">24</span> ∧ Var y ≈ 𝒩 <span class="dv">16</span> ⟧
test <span class="ot">=</span>
        ⟦ True ⟧
            x ≔ 𝒩 <span class="dv">3</span>                                     since <span class="ot">(λ</span> σ <span class="ot">_</span> <span class="ot">→</span> ≡-refl<span class="ot">)</span>
        ⟦ Var x ≈ 𝒩 <span class="dv">3</span>                                 ⟧
          ⨾⟨ <span class="ot">(λ</span> σ z₁ <span class="ot">→</span> z₁<span class="ot">)</span>  ⟩ <span class="co">-- ⇒-refl ⟩</span>
        ⟦ Var x ≈ 𝒩 <span class="dv">3</span>                                 ⟧⟨ <span class="ot">(λ</span> σ z₁ <span class="ot">→</span> z₁<span class="ot">)</span> <span class="co">-- ⇒-refl </span>
        ⟩⟦ Var x ≈ 𝒩 <span class="dv">3</span>                                ⟧
          ⨾⟨ <span class="ot">(λ</span> σ <span class="ot">_</span> <span class="ot">→</span> ≡-refl , ≡-refl<span class="ot">)</span> ⟩
        ⟦ 𝒩 <span class="dv">20</span> + 𝒩 <span class="dv">4</span> ≈ 𝒩 <span class="dv">24</span> ∧ 𝒩 <span class="dv">20</span> - 𝒩 <span class="dv">4</span> ≈ 𝒩 <span class="dv">16</span>   ⟧
          y ≔ 𝒩 <span class="dv">4</span>                                       since <span class="ot">(λ</span> σ <span class="ot">_</span> <span class="ot">→</span> ≡-refl , ≡-refl<span class="ot">)</span>
        ⟦ 𝒩 <span class="dv">20</span> + Var y ≈ 𝒩 <span class="dv">24</span> ∧ 𝒩 <span class="dv">20</span> - Var y ≈ 𝒩 <span class="dv">16</span> ⟧
          ⨾⟨ <span class="ot">(λ</span> σ z₁ <span class="ot">→</span> z₁<span class="ot">)</span> ⟩ <span class="co">-- ⇒-refl ⟩</span>
        ⟦ <span class="ot">(</span>Σ z ≤ <span class="dv">4</span> • Var z + Var z<span class="ot">)</span> + Var y ≈ 𝒩 <span class="dv">24</span> ∧ <span class="ot">(</span>Σ z ≤ <span class="dv">4</span> • Var z + Var z<span class="ot">)</span> - Var y ≈ 𝒩 <span class="dv">16</span> ⟧
          x ≔ <span class="ot">(</span>Σ z ≤ <span class="dv">4</span> • Var z + Var z<span class="ot">)</span>                  since <span class="ot">(λ</span> σ z₁ <span class="ot">→</span> z₁<span class="ot">)</span> <span class="co">-- ⇒-refl</span>
        ⟦ Var x + Var y ≈ 𝒩 <span class="dv">24</span> ∧ Var x - Var y ≈ 𝒩 <span class="dv">16</span> ⟧
          ⨾⟨⟩
        ⟦ Var x + Var y ≈ 𝒩 <span class="dv">24</span> ∧ Var x - Var y ≈ 𝒩 <span class="dv">16</span> ⟧
          x , y ≔₂ Var x + Var y , Var x - Var y since <span class="ot">(λ</span> σ z₁ <span class="ot">→</span> z₁<span class="ot">)</span> <span class="co">-- ⇒-refl</span>
        ⟦ Var x ≈ 𝒩 <span class="dv">24</span> ∧ Var y ≈ 𝒩 <span class="dv">16</span> ⟧</code></pre></div>
<p>Notice that the type is a claim we are making about the correctness of a program and the body is a proof of that claim.</p>
<p>Of course one should check that our earlier programs still work with the function symbols in-place. Exercise ;)</p>
<h1 id="closing">Closing</h1>
<p>It seems that we’ve managed to get a lot done –up to chapter 9 of SoP excluding arrays–. Hope you’ve enjoyed the article!</p>

<div id="disqus_thread"></div>
<script>
/**
* RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
* LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
*/
/*
var disqus_config = function () {
this.page.url = PAGE_URL; // Replace PAGE_URL with your page's canonical URL variable
this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};
*/
(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');

s.src = '//superfluousspeculations.disqus.com/embed.js';

s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>

        </div>
        <div id="footer">
            Site proudly generated by
            <a href="http://jaspervdj.be/hakyll">Hakyll</a>
        </div>
    </body>
</html>
